name: CI

on:
  push:
    branches:
      - main

jobs:
  lint-validate-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a placeholder step
        run: echo "Workflow triggered on push to main "
